global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    option  tcplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend front_2083
    bind *:2083
    mode tcp
    default_backend back_2083

backend back_2083
    mode tcp
    server node6 node6.jokershadow.org:2083 check
